.container {
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.parallaxContainer-1 {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    position: relative;
}

.flexBackImg {
    background-image: url("../img/flex/html_css_homework_homework6_img_header-bg.jpeg");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.parallaxLayer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
}

.headerClassWrap {
    transform: translateZ(0);
    width: 100vw;
}

.flexContainerWrap {
    padding: 15vh 0;
    transform: translateZ(0);
    width: 100vw;
}

.flexBackImgWrap {
    z-index: -1;
    transform: translateZ(-1px) scale(2);
    width: 100vw;
}

.textColorWhite {
    color: #ffffff;
}

.headerClass {

    width: 100%;
    background-color: #1d2124;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.logo {
    width: auto;
    display: flex;
    box-sizing: border-box;
}

.logoImg {
    height: 27px;
    width: 27px;
}

.logoImgBox {
    width: 70px;
    box-sizing: border-box;
    background-color: #1a1d20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    box-sizing: border-box;
}

.headerMenu {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.headerMenuItem {
    text-decoration: none;
    margin: 0 10px;
}

.headerSearch {
    display: flex;
    width: 70px;
    background-color: #1a1d20;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.fas {
    font-size: 17px;
}

@media (max-width: 850px) {
    .flexContainerWrap {
        padding-top: 17vh;
    }

    .headerClass {
        height: auto;
    }

    .headerMenu {
        display: block;
    }

    .headerMenuItem {
        display: block;
        text-align: center;
    }
}
.img-qwerty{
     background-image: url("../img/flex/html_css_homework_homework6_img_header-bg.jpeg");
    height: 500px;
 }

@media (max-width: 400px) {
    .flexContainerWrap {
        padding-top: 27vh;
    }

    .logo {
        order: 1;
        width: auto;
        height: 70px;
    }

    .headerSearch {
        order: 2;
        height: 70px;
    }

    .headerMenu {
        order: 3;
        width: 100%;
    }

    .headerClass {
        flex-wrap: wrap;
    }
}

@media (max-width: 250px) {
    .flexContainerWrap {
        padding-top: 37vh;
    }
    .headerSearch {
        width: 100%;
    }
}

.flexContainer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flexHead {
    /*background-image: url("../img/flex/html_css_homework_homework6_img_header-bg.jpeg");
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    font-family: ﻿AdobeInvisFont, Arial, ﻿Courier, sans-serif;
    text-transform: uppercase;
    font-size: 27px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.buttonsAlign {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonStyle {
    margin: 20px 10px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    width: 170px;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    box-sizing: content-box;
}

.buttonStyle:hover {
    cursor: pointer;
}

.buttonStyleGreen {
    border: 1px solid #89ca62;
    background-color: #89ca62;
}

.buttonStyleBlue {
    border: 1px solid #14b9d5;
    background-color: #14b9d5;
}

.flexContent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.theHead2 {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

.backColorWhite {
    background-color: #ffffff;
}

.flexGallery {
    height: 960px;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}

@media (max-width: 1100px) {
    .flexGallery {
        height: calc(960px + 30%);
    }
}

.flexGalleryItem {
    width: 370px;
    overflow: hidden;
    margin-top: 50px;
}

.flexGalleryItem:last-child {
    margin-bottom: 50px;
}

.flexGalleryItem1 {
    height: 320px;
    order: 1;
}

.flexGalleryItem2 {
    height: 440px;
    order: 3;
}

.flexGalleryItem3 {
    height: 355px;
    order: 5;
}

.flexGalleryItem4 {
    height: 320px;
    order: 2;
}

.flexGalleryItem5 {
    height: 310px;
    order: 4;
}

.flexGalleryItem6 {
    height: 440px;
    order: 6;
}

.flexGalleryImg1 {
    background-image: url("../img/flex/post-1-img@1X.png");
    height: 259px;
}

.flexGalleryImg2 {
    background-image: url("../img/flex/post-2-img@1X.png");
    height: 380px;
}

.flexGalleryImg3 {
    background-image: url("../img/flex/post-3-img@1X.png");
    height: 290px;
}

.flexGalleryImg4 {
    background-image: url("../img/flex/post-4-img@1X.png");
    height: 259px;
}

.flexGalleryImg5 {
    background-image: url("../img/flex/post-5-img@1X.png");
    height: 247px;
}

.flexGalleryImg6 {
    background-image: url("../img/flex/post-6-img@1X.png");
    height: 380px;
}

.flexCenter {
    display: flex;
    height: calc(320px - 259px);
    justify-content: center;
    align-items: center;
}

.gridBackImg {
    background-image: url("../img/grid/html_css_homework_homework6_img_parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    /*background-attachment: fixed;*/
}

.gridContainer {
}

.theSecondHead {
    width: 100%;
    height: 600px;
    font-family: AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-size: 27px;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(7, 1fr);
}

.theSecondHeadText {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
}

.theSecondHeadGreenLine {
    width: 60px;
    height: 3px;
    box-sizing: border-box;
    border: 2px solid #169cb4;
    margin: 0 auto;
}

.popularClients {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2vw;
    justify-content: center;
    /*text-align: center;*/
    align-items: start;
}

.popularClients1 {
    background-repeat: no-repeat
}

.popularClients2 {
    background-repeat: no-repeat
}

.popularClients3 {
    background-repeat: no-repeat
}

.popularClients4 {
    background-repeat: no-repeat
}

.popularClients1Size {
    height: 28px;
    width: 207px;
}

.popularClients2Size {
    height: 49px;
    width: 135px;
}

.popularClients3Size {
    height: 42px;
    width: 172px;
}

.popularClients4Size {
    height: 52px;
    width: 141px;
}

.topRatedGridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(190px, auto);
    padding-top: 50px;
}

.topRatedImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}

.topRatedImg-1 {
    background-image: url('../img/grid/latest-post-1-img@1X.png');
}

.topRatedImg-2 {
    background-image: url('../img/grid/latest-post-2-img@1X.png');
}

.topRatedImg-3 {
    background-image: url('../img/grid/latest-post-3-img@1X.png');
}

.topRatedImg-4 {
    background-image: url('../img/grid/latest-post-4-img@1X.png');
}

.topRatedImg-5 {
    background-image: url('../img/grid/latest-post-5-img@1X.png');
}

.topRatedImg-6 {
    background-image: url('../img/grid/latest-post-6-img@1X.png');
}

.topRatedImg-7 {
    background-image: url('../img/grid/latest-post-7-img@1X.png');
}

.backColorGrey {
    background-color: #e3e1e1;
}

.hotNewsContainer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 259px 418px 418px 259px;
}

.block-i {
    /*background-color: #aaa;*/
    /*border: 5px solid #223086;*/
    box-sizing: border-box;
    overflow: hidden;
}

.block-2 {
    grid-area: 1/2/1/8;
}

.block-3 {
    grid-area: 1/8/1/10;
}

.block-6 {
    grid-area: 2/2/2/6;
}

.block-7 {
    grid-area: 2/6/2/10;
}

.block-11 {
    grid-area: 3/2/3/6;
}

.block-12 {
    grid-area: 3/6/3/10;
}

.block-15 {
    grid-area: 4/2/4/4;
}

.block-16 {
    grid-area: 4/4/4/10;
}

.hotNewsImg-2 {
    background-image: url('../img/grid/post-1-img@1X.png');
    height: 259px;
}

.textRight {
    text-align: right;
}

.imgTextHead {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Bold, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: rgba(53, 58, 61, 255);
}

@media (min-width: 700px) {
    .gridBlock-216 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.hotNewsText {
    padding: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;

}

.blockTextAlignStart {
    align-self: start;
}

.imgText {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿OpenSans-Semibold, sans-serif;
    font-size: 14px;
    color: rgba(91, 100, 105, 255);
}

.hotNewsImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

.hotNewsImg-3 {
    background-image: url('../img/grid/post-2-img@1X.png');
    height: 210px;
}

.blockText-315 {
    height: 50px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
}

.blockText-671112 {
    padding: 10px 20px;
    height: 160px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.hotNewsImg-6 {
    background-image: url('../img/grid/post-3-img@1X.png');
    height: 259px;
}

.hotNewsImg-7 {
    background-image: url('../img/grid/post-4-img@1X.png');
    height: 259px;
}

.hotNewsImg-11 {
    background-image: url('../img/grid/post-4-img@1X (1).png');
    height: 259px;
}

.hotNewsImg-12 {
    background-image: url('../img/grid/post-6-img@1X.png');
    height: 259px;
}

.hotNewsImg-15 {
    background-image: url('../img/grid/post-7-img@1X.png');
    height: 210px;
}

.hotNewsImg-16 {
    background-image: url('../img/grid/post-8-img@1X.png');
    height: 259px;
}

.footerGrid {
    background-color: #1d2124;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 80px;
    align-items: center;
}

.footerCopy {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    font-size: 13px;
    grid-area: 1/2/1/8;
}

.architectLinkDeco {
    text-decoration: none;
}

.footerLogo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-area: 1/9/1/10;
    justify-content: right;
}

.footerLogoImg {
    padding-top: 5px;
    text-align: right;
}

.footerLogoText {
    padding-top: 5px;
    text-align: right;
}

.footerLogoImgSize {
    height: 24px;
    width: 38px;
}

.footerLogoTextSize {
    height: 16px;
    width: 64px;
}

@media (max-width: 700px) {
    .topRatedGridContainer {
        display: flex;
        flex-direction: column;
    }

    .topRatedImg {
        display: block;
        width: auto;
        height: 190px;
        margin: 2px 10px;
        box-sizing: border-box;
    }

    .popularClients {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
        text-align: center;
    }

    .hotNewsContainer {
        display: block;
        height: auto;
        padding: 50px 1%;
    }

    .block-2, .block-3, .block-6, .block-7, .block-11, .block-12, .block-15, .block-16 {
        border: 4px solid #ffffff;
        box-sizing: border-box;
        height: auto;
    }

    .hotNewsImg-2, .hotNewsImg-16 {
        height: 259px;
    }

    .blockText-671112 {
        height: auto;
    }
}